# 1.FINDING THE LARGEST,SMALLEST,SECOND LARGEST AND SECOND SMALLEST VALUES

In [10]:
def largest(list1):
    largest = list1[0]
    smallest = list1[0]
    second_small = None
    second_large = None
    
    for i in list1[1:]:
        
        if i > largest:
            second_large = largest
            largest = i
            
        elif i < largest:#this is raised due to  if elif condition
            second_small = smallest
            smallest = i
        elif second_small is None or second_small > i and i!= smallest:
            second_small = i
        elif second_large is None or second_large <i and i != largest:
            second_large = i
    print("Largest element is:", largest)
    print("Smallest element is:", smallest)
    print("Second Largest element is:", second_large)
    print("Second Smallest element is:", second_small)
 
 
# Driver Code
list1 = [67,5,6,45,34,23,89,76,65,98,98,62,90,78,110,456,789]
largest(list1)

Largest element is: 789
Smallest element is: 78
Second Largest element is: 456
Second Smallest element is: 90

In [9]:
def Range(list1):
    largest = list1[0]
    lowest = list1[0]
    largest2 = None
    lowest2 = None
    for item in list1[1:]:    
        if item > largest:
            largest2 = largest
            largest = item
        elif largest2 is None or largest2 < item and item != largest:#if duplicate is there means write item != largest
            largest2 = item
        if item < lowest:
            lowest2 = lowest
            lowest = item
        elif lowest2 is None or lowest2 > item and item != lowest:
            lowest2 = item
             
    print("Largest element is:", largest)
    print("Smallest element is:", lowest)
    print("Second Largest element is:", largest2)
    print("Second Smallest element is:", lowest2)
 
 
# Driver Code
list1 = [67,5,6,45,34,23,89,76,65,98,98,62,90,78,110,456,789]
Range(list1)

Largest element is: 789
Smallest element is: 5
Second Largest element is: 456
Second Smallest element is: 6

## 2. REMOVING DUPLICATES WITHOUT BUILTIN LIKE SET

In [14]:
element =[3,3,4,56,56,56,56,78,890,890,42] 

def duplicate(element):
    noduplicate = []
    
    for i in element:
        
        if i not in noduplicate:
            
            noduplicate.append(i)
    return noduplicate
duplicate(element)

[3, 4, 56, 78, 890, 42]

## 3. REMOVING THE DUPLICATES WITH SORTED

In [33]:
n=[3,3,4,56,56,56,56,78,890,890,42] 
list1 = []
for i in (n):
    list1.append(i)
duplicateremoved = set(list1)

afterremoved = list(duplicateremoved)

afterremoved.sort()
print(afterremoved)
if len(afterremoved)>1:
    print(afterremoved[-2])
else:
    print('not found')

[3, 4, 42, 56, 78, 890]
78

# 4. MAXIMUM ELEMENT

In [22]:
n=[3,3,4,56,56,56,56,78,890,890,42] 
maxi = n[0]

for i  in n:
    if i>maxi:
        maxi = i
print(maxi)

890

# 5. MINIMUM ELEMENT

In [23]:
n=[3,3,4,56,56,56,56,78,890,890,42] 
mini = n[0]

for i  in n:
    if i>mini:
        mini = i
print(mini)

890

# 6.  MAXIMUM ELEMENT IN NESTED LIST

In [26]:

def largestelement(list1):
    
    
    return max(list1)
largestelement([3,[56,78],890,[890,42]])

TypeError: '>' not supported between instances of 'list' and 'int'

In [28]:

def largestelement(list1):
    
    
    return max(list2)
largestelement([3,56,78,890,890,42])

890

In [29]:
list2  = []
def largestelement(list1):
    
    for i in list1:
        
        if type(i) == list:
            largestelement(i)
            print(largestelement)
        else:
            list2.append(i)
    return max(list2)
largestelement([3,[56,78],890,[890,42]])

<function largestelement at 0x00000222B0794D30>
<function largestelement at 0x00000222B0794D30>

890

# 7. MINIMUM ELEMENT IN NESTED LIST

In [31]:
def largestelement(list1):
    
    for i in list1:
        
        if type(i) == list:
            largestelement(i)
            #print(largestelement)
        else:
            list2.append(i)
    return min(list2)
largestelement([3,[56,78],890,[890,42]])

3

# 8. SECOND LARGEST ELEMENT

In [35]:
n=[3,56,7689,78,7689,42]

largest = n[0]
secondlargest = n[1]

for i in n:
    if i > largest:
    
        secondlargest = largest

        largest =i
        
        
    elif i <largest and i> secondlargest :
        
        secondlargest = i
print('second largest element:',secondlargest)

second largest element: 78

# 9. ONE PLUS

In [38]:
class Solution:
    def plusOne(self, digits) :
        
        if digits[-1] < 9:
            digits[-1] += 1
            return digits
        elif len(digits)== 1 and digits[0] == 9:
            return [1,0]
       
        
       
        
d = Solution()
d.plusOne([4,3,2,0])

[4, 3, 2, 1]

In [37]:
class Solution:
    def plusOne(self, digits) :
        
        if digits[-1] < 9:
            digits[-1] += 1
            return digits
        elif len(digits)== 1 and digits[0] == 9:
            return [1,0]
       
        
       
        
d = Solution()
d.plusOne([9,9])

In [ ]:
NO OUTPUT

In [39]:
class Solution:
    def plusOne(self, digits) :
        
        if digits[-1] < 9:
            digits[-1] += 1
            return digits
        elif len(digits)== 1 and digits[0] == 9:
            return [1,0]
        
        else:#this condition is for value 9
            #print(digits[-1])
            digits[-1] = 0
            print(digits[-1])
            print(digits[0:-1])
            digits[0:-1] = self.plusOne(digits[0:-1])
            print(digits[0:-1])
            return digits
        
       
        
       
        
d = Solution()
d.plusOne([9,9,9])

0
[9, 9]
0
[9]
[1, 0]
[1, 0, 0]

[1, 0, 0, 0]

In [40]:
s = [3,4,5]
print(s[0:-1])

[3, 4]

In [41]:
s = [3,4,5,6]
print(s[0:-1])

[3, 4, 5]

# 10. MULTIPLE OF STRINGS

In [56]:
s = 'abcaba'
dicts = {}
for i in s:
    if i not in dicts:
        dicts[i]=1
        print(i,end=' ')
    else:
        dicts[i] +=1
        print(i*dicts[i],end =' ')

a b c aa bb aaa

# 11. ARMSTRONG NO FROM 1 T0 1000

In [ ]:
numbers of n digits which are equal to sum of nth power of its digits.

n= 2
27
2^2 + 7 ^2 = 4 +49 = 53

153 
n = 3 due to 3 digits

1^3 + 5^3 + 3^3 = 3 + 125+27 = 153 is an armstrong

In [58]:
for i in range(1,1001):
    l = len(str(i))
    sums = 0
    for digit in str(i):
        #print(digit)
        arm = int(digit)%10
        
        
        r = int(arm)**l
        
        sums = sums+r
    if i == sums:
        print(sums,end =" ")

1 2 3 4 5 6 7 8 9 153 370 371 407

In [60]:


for i in range(1,1001):
    l = len(str(i))
    sums = 0
    for digit in str(i):
        #print(digit)
        arm = int(digit)
        
        
        r = int(arm)**l
        
        sums = sums+r
    if i == sums:
        print(sums,end=" ")

1 2 3 4 5 6 7 8 9 153 370 371 407

In [68]:


n = int(input('enter the no'))
l = len(str(n))
temp = n

i=0
r=0
while n!=0:
    s= n%10
    #print(s)
    
    
    n = n//10
    r = r+s**l
if  temp == r:
    print(r,"is an amstrong..")
else:
    print(temp,"is not an amstrong..")

enter the no371
371 is an amstrong..

In [73]:
n = 371
s = n%10
print(s)

1

In [74]:
n = 37
s = n%10
print(s)

7

In [ ]:
r= r + s ** 3(len)
r = 0 + 1 = 1
r= 1 + 343
r = 344 + 27 = 371 which is amstrong

# 12. TO FIND LENGTH

In [76]:
n = 1530
i=0
while n!=0:
    n = n//10
    
    i = i+1
print(i)

4

In [81]:
n = 1530
l = len(str(n))
for i in range(l):
    s = n%10
    
    
    i=i+1
    
print(i)

4

In [79]:
n = 1530
l = len(str(n))
for i in range(l):
    s = n%10
    
    print('s = ',s)
    n= n//10
    print('n = ',n)

s =  0
n =  153
s =  3
n =  15
s =  5
n =  1
s =  1
n =  0

# 13. PRIME OR NOT PRIME NUMBER

In [82]:
a = int(input("Enter the number"))
if a>1:
    for x in range(2,a):
        if(a%x)==0:
            print("not prime")
            break
        else:
            print("prime")
            break
else:
    print("not prime")

Enter the number34
not prime

# 14.FIBONACCI SERIES

In [84]:
fibonacci_cache  = {}
def fibonacci(n):
    
    #if we have cached the value,then return it 
    if n in fibonacci_cache:
        return fibonacci_cache[n]
    
    #check whether input is positive
    
    if type(n) != int:
        
        raise TypeError('n must be a positive int')
        
    if n<1:
        raise ValueError('n must be a positive int')
    
    #compute the nth term
    if n ==0:
        return 0
    
    if n == 1:
        return 1
    if n == 2:
        return 1
    elif n>= 2:
        value =  fibonacci(n-1) + fibonacci(n-2)#calling the function by itself
    
    #cache the value and return it
    fibonacci_cache[n] = value
    return value

print(fibonacci(8))

21

# 15.sum of arrays

In [88]:
n = int(input("Enter the number to sum:"))
sum = 0
for i in range(1,n+1):
    sum = sum + i
print(sum)

Enter the number to sum:10
55

In [90]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    
    if i%5 ==0 and i <= 150:
        
        print(i)
        
    elif i > 500 :
        break

75
150
145

# 16. REVERSE INTEGER

In [92]:
list1 = [10, 20, 30, 40, 50]

size = len(list1)-1
res = []

for i in range(size,-1,-1):
    
    res.append(list1[i])
print(res)

[50, 40, 30, 20, 10]

# 17.Display numbers from -10 to -1 using for loop

In [96]:
for i in range(-10,0):
    print(i,end = " ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

# 18. PRIME NUMBER WITHIN RANGE

In [102]:
start = 25
end = 50
for num in range(start,end):
    if num >1:
        for i in range(2,num):
            
            if num%i == 0:
                break
            
        else:
            print(num,end = " ")

29 31 37 41 43 47

# 19.Display Fibonacci series up to 10 terms

In [103]:
num1 = 0
num2=1

for i in range(10):
    
    print(num1,end = " ")
    
    res = num1 + num2
    
    num1 = num2
    num2 = res

0 1 1 2 3 5 8 13 21 34

# 20.Find the factorial of a given number

In [106]:
num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
    
else:
    
    for i in range(1,num+1):#dont use just range(num) you get zero due to multiply
        
        factorial = factorial * i
        
    print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

# 21.Reverse a given integer number

In [107]:
num = 76542
reverse_number = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Revere Number ", reverse_number)

Given Number  76542
Revere Number  24567

# 22. Find the sum of the series upto n terms

In [108]:
n = 5
# first number of sequence
start = 2
sum_seq = 0

# run loop n times
for i in range(0, n):
    print(start, end="+")
    sum_seq += start
    # calculate the next term
    start = start * 10 + 2
print("\nSum of above series is:", sum_seq)

2+22+222+2222+22222+
Sum of above series is: 24690

In [109]:
print(2+22+222+2222+22222)

24690

# 23.  Convert two lists into a dictionary

In [ ]:
 1: The zip() function and a dict() constructor

    Use the zip(keys, values) to aggregate two lists.
    Wrap the result of a zip() function into a dict() constructor.

In [113]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

res_dict = dict(zip(keys, values))
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [112]:
#Solution 2: Using a loop and update() method of a dictionary

In [114]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

# empty dictionary
res_dict = dict()

for i in range(len(keys)):
    res_dict.update({keys[i]: values[i]})
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# 24. Merge two Python dictionaries into one

In [115]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [116]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# 25.Print the value of key ‘history’ from the below dict

In [ ]:
Print the value of key ‘history’ from the below dict

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [118]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [121]:
print(sampleDict['class']['student']['marks']['history'])

80

# 26.Initialize dictionary with default values

# The fromkeys() method returns a dictionary with the specified keys and the specified value.

In [122]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

res = dict.fromkeys(employees, defaults)
print(res)

# Individual data
print(res["Kelly"])

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}
{'designation': 'Developer', 'salary': 8000}